{% extends "base.njk" %}

{% block pageHeader %}{% endblock pageHeader %}

{% block content %}

    <div class="hero-slider">
        {% for banner in banners %}
            <div class="single-slide" style="background-image: url({{ banner.background }})">
                <div class="inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="slide-content">
                                    <h2>
                                        {{ banner.headline }}
                                    </h2>
                                    <p>
                                        {{ banner.blurb }}
                                    </p>
                                    <div class="slide-btn">
                                        <a target="_blank" rel="noopener noreferrer" href="{{ banner.link.url }} " class="button">
                                            {{ banner.link.text }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 text-center">
                                {% if banner.video %}
                                    <div class="inner embed-responsive embed-responsive-16by9" data-margin="0 0 0">
                                        <iframe width="560" height="315" src="{{ banner.video.link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                                    </div>
                                {% endif %}
                                {% if banner.image %}
                                    <img src="{{ banner.image.link }}" alt="{{ banner.image.alt }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="home-area sp">
        <div class="container home-info">
            <div class="single-info">
                <h3>{{ about.title }}</h3>
                <p>{{ about.description }}</p>
                <a href="{{ about.link.url }}" class="button">{{ about.link.text }}</a>
            </div>
            <div class="single-info sp">
                <h3>{{ services.title }}</h3>
                <p>{{ services.description }}</p>
                <a href="{{ services.link.url }}" class="button">{{ services.link.text }}</a>
            </div>
            <div class="single-info">
                <h3>{{ walkingtree.title }}</h3>
                <p>{{ walkingtree.description }}</p>
                <a target="_blank" rel="noopener noreferrer" href="{{ walkingtree.link.url }}" class="button">{{ walkingtree.link.text }}</a>
            </div>
        </div>
    </div>
{% endblock content %}