{% extends "layouts/simple.njk" %}

{% block content %}
    <div class="service-area sp">
        <div class="container">
            <div class="row">
                {% for service in collections.services %}
                    <div class="col-lg-4 col-md-6 single-service-2">
                        <a data-toggle="modal" data-target="#{{ service.data.id }}">
                            <div class="inner">
                                <div class="title">
                                    <div class="icon">
                                        <i class="fa fa-{{ service.data.faIcon }}"></i>
                                    </div>
                                    <h4>
                                        {{ service.data.title }}
                                    </h4>
                                </div>
                                <div class="content">
                                    {% for line in service.data.shortDescription.lines %}
                                        <p>
                                            {{ line }}
                                        </p>
                                    {% endfor %}
                                    <h6>
                                        <b>Read More</b>
                                    </h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="modal" id="{{ service.data.id }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{ service.data.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% for line in service.data.longDescription.lines %}
                                        <p>
                                            {{ line | safe }}
                                        </p>
                                    {% endfor %}
                                    <h6>
                                        {{ service.data.callToAction }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block postContent %}
    <div class="testimonial-area spb">
        <div class="container">
            <div class="section-title">
                <h2>{{ testimonials.title }}</h2>
                <p>{{ testimonials.description }}</p>
            </div>
            <div class="testimonial-slider">
                {% for testimonial in collections.testimonials %}
                    <div class="single-slide">
                        <div class="inner">
                            <p>{{ testimonial.data.quote}}</p>
                            <div class="client-info">
                                <div class="client-data">
                                    <h4>{{ testimonial.data.name }}</h4>
                                    <span>{{ testimonial.data.jobTitle }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock postContent %}