{% extends "layouts/simple.njk" %}

{% block content %}
    <div class="service-area sp">
        <div class="container">
            <div class="row">
                {% for service in collections.services %}
                    <div class="col-lg-4 col-md-6 single-service-2">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    <i class="fa fa-{{ service.data.faIcon }}"></i>
                                </div>
                                <h4>
                                    {{ service.data.title }}</h4>
                            </div>
                            <div class="content">
                                <p>
                                    {{ service.data.description }}
                                </p>
                                <a href="{{ service.url }}">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block postContent %}
    <div class="testimonial-area spb">
        <div class="container">
            <div class="section-title">
                <h2>{{ testimonials.title }}</h2>
                <p>{{ testimonials.description }}</p>
            </div>
            <div class="testimonial-slider">
                {% for testimonial in collections.testimonials %}
                    <div class="single-slide">
                        <div class="inner">
                            <p>{{ testimonial.data.quote}}</p>
                            <div class="client-info">
                                <div class="client-data">
                                    <h4>{{ testimonial.data.name }}</h4>
                                    <span>{{ testimonial.data.jobTitle }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock postContent %}